@import "../../Style/Style.scss";


.erreurMain {
    @include flex-column;
    font-family: $font-familly;
    
       .erreurMain__numero{
        @include flex-center;
        font-size: 200px;
        font-weight :700;
        color:#FF6060;
        line-height:410px;
        text-align: center;
        width: 597px;
        margin-bottom:50px;
        margin-top: 35px;
        height: 263px;
    }
    .erreurMain__message{
        @include flex-center;
        font-size: 28px;
        font-weight :700;
      
        width: 872px;
        height: 51px;
        color:#FF6060; 
        
        text-align:center;
    }
     .erreurMain__retour{
        padding-top: 30px;
        margin-bottom: 50px;
    }
}
