@import '../../Style/Style.scss';


.tags-container {
display: flex;

}

.tag{
    background-color: #FF6060 ;
    margin: 10px 10px 10px 0px;
    padding: 2px 10px 2px 10px;
    border-radius: 50px;
    color: white;

}