@import '../../Style/Style.scss';

.listeLogement {
	@include flex-center;
	width: 100%;

	.listeLogement__container {
	    display: grid;
    	grid-template-columns: repeat(3, 1fr);
    	gap: 20px; 
		border-radius: $bord-rond;
		background-color: #F6F6F6;
		padding: 30px;
		

		.listeLogement__container__item{
			border: none;
			margin: 20px;

			& img {
				width: 340px; 
				height: 340px;
				border-radius: $bord-rond;
				
			}
			& .titre {
				position: absolute; 
				bottom: 1%;
				left: 1%; 
				background-color: rgba(0, 0, 0, 0.7); 
				padding: 4px; 
				margin-left: 17px;
				margin-bottom: 1px;
				font-size: 12px; 
				color: white; 
				font-family: $font-familly;
			}
		}
	}
}
