.lmj-CardList {
	background-color: #F6F6F6;
	height: 223px;
	width: 1240px;
	border-radius: 25px 25px 25px 25px;
	margin-top: 20px ;
	margin-bottom: 20px;
}


section{
    display: flex;
    justify-content: center;
    align-items: center;
  
}