@import '../../Style/Style.scss';
.Collapse {
    display: flex;
    justify-content: center;

    .Collapse__container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 1240px;
       

        .Collapse__container__item {
            @include flex-between;
            border: 1px solid #ddd; 
            border-radius: 10px;
            background-color: #FF6060;
            color: white;
            width: auto;
            height: 54px;
            padding-left: 20px;
            padding-right: 20px;
            position: relative; 

            .btnCollapsecible {
                background-color: #FF6060;
                color: white; 
                border: none;
                font-size: 2rem;
                transition: transform 0.3s ease-in-out; 
            }
            .rotate {
                transform: rotate(180deg);
                transition: transform 0.3s;
            }
        }

        .contentBox {
            margin-left: 20px;
            margin-right: 20px;
            opacity: 0; 
            position: relative; 
            top: 0%; 
            left: 0;
            right: 0;
            transition: opacity 2s ease, max-height 1s ease-out; /* Ajoutez une transition pour l'opacité et la hauteur */
            padding-left: 20px;
            background-color: hsl(0, 27%, 96%);
            max-height: 0;
            overflow: hidden;
        }

        .contentBox.fade-in {
            opacity: 1;
            border-radius: 10px; /* Utilisez une valeur fixe pour le rayon de la bordure */
            position: relative; 
            top: 0%; 
            max-height: 1000px; /* Hauteur maximale que vous souhaitez */
            transition: max-height 2s ease-in, opacity 1s ease; /* Ajoutez la transition pour la hauteur et l'opacité */
        }
    }
}
