.grid-container3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
	width: 1023px;
    height: auto;
}

.grid-item2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd; 
	border-radius: 10px 10px 10px 10px;
    background-color: #FF6060;
    color: white;
    width: auto;
    height: 54px;
    padding-left: 20px;
    padding-right: 20px;
	
}

.Collapse{
    display: flex;
    justify-content: center;
}

.btnCollapsecible{
    background-color: #FF6060;
    color: white;
    border: none;
    font-size: 2rem;

}

.contentBox{
 margin-left: 20px;
 margin-right: 20px;
}
