@import '../../Style/Style.scss';

.Carrousel {   
  position: relative;
  @include flex-center;
 

    .fleche {
      position: absolute;
      top: 50%;
      right: 97%;
      transform: translateY(-50%);
      background: transparent;
      border: none;
      color: white;
      font-size: 34px;

    }

    .droite {
      right: 0;
     }
     .image-number {
      position: absolute;
      bottom: 0;
      left: 50%;
     top: 90%;
     transform: translateX(-50%);
      color: white;
     font-size: 15px;
     font-family: $font-familly;
     }

    .imgCarrousel {
    object-fit: cover;
    width: 1240px;
    max-height: 415px;
}  

}