.main{
    width: 1240px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main2{
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.SectionAccueil{
    display: flex;
    align-items: center;
    justify-content: center;
    
}