// Variables

$bord-rond: 25px 25px 25px 25px;


@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content:space-between;
}



.body {
    font-family: 'Montserrat';
}

.main {
    width: 1240px;
    @include flex-center;
}

.main2 {
    width: 1440px;
    flex-direction: column;
    @include flex-center;
}

.sectionAccueil {
 @include flex-center;
}