@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


// Variables
$font-familly: "Montserrat";
$bord-rond: 25px 25px 25px 25px;
$transition-collapse:  height .35s ease;
$transition-collapse-width:   width .35s ease;


@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body {
  width: 100px;

}

.main {
  width: 1240px;
  @include flex-center;
}

.main2 {
  width: 1440px;
  flex-direction: column;
  @include flex-center;
}

.sectionAccueil {
  @include flex-center;
}

@media screen and (max-width: 1240px) {
  /* Mettez ici vos styles spécifiques pour les appareils mobiles */
  .listeLogement .listeLogement__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .image-banner .titre {
    font-size: 31px;
  }
  .Carrousel {
    width: 1240px;
    height: 380px;
  }
  .logement__Main .logement__Collapse {
    width: 1044px;
  }
  .logement__Main .logement__Article {
        width: 1024px;
    }
    .logement__Main .logement__Collapse .collapse {
        width: 502px;
      }

}

@media screen and (max-width: 1044px) {
  .listeLogement .listeLogement__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .image-banner .titre {
    font-size: 27px;
  }
  .Carrousel {
    width: 844px;
    height: 360px;
  }
  .logement__Main .logement__Collapse {
    width: 824px;
    
  }
    .logement__Main .logement__Article {
        width: 824px;
    }
    .logement__Main .logement__Collapse .collapse {
        width: 392px;
      }
}

@media screen and (max-width: 844px) {
  .listeLogement .listeLogement__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .image-banner .titre {
    font-size: 21px;
  }
  .Carrousel {
    width: 544px;
    height: 390px;
  }
  .logement__Main .logement__Collapse {
    width: 844px;
    @include flex-column();
  }
    .logement__Main .logement__Article {
        width: 544px;
    }
    .logement__Main .logement__Collapse .collapse {
        width: 544px;
      }
      .Carrousel .image-number {
        display: none;
      }
      
}

@media screen and (max-width: 544px) {
  .listeLogement .listeLogement__container {
    grid-template-columns: repeat(1, 1fr);
  }
.erreurMain .erreurMain__message {
    font-size: 19px;
  }

  .image-banner .image {
    width: 330px;
height: 180px;
  }

  .image-banner .titre {
    font-size: 17px;
  }
  .Carrousel {
    width: 330px;
    height: 390px;
  }

    .logement__Main .logement__Article {
        width: 360px;
    }
    .logement__Main .logement__Collapse .collapse {
        width:360px ;
      }

}
