@import "../../Style/Style.scss";

.logement__Main {
  @include flex-center;
  flex-direction: column;

  .logement__Article {
    width: 1240px;
    @include flex-between;

    .logement__Titre {
      color: #ff6060;
      font-size: 36px;
    }
    .host {
      display: flex;

      .img__Host {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        margin-top: 10px;
        margin-left: 15px;
      }
      .host__logement__Name {
        text-align: right;
        width: 93px;
        color: #ff6060;
        font-size: 18px;
      }
    }
  }
  .logement__Collapse {
    width: 1240px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .collapse {
      width: 582px;
    }
  }
}

.gallery {
  width: 1240px;
  height: 415px;
  border: none;
}
