.gallery{
width: 1240px;
height: 415px;
border: none;
}


.logementMain {
 display: flex;
 justify-content: center;
 flex-direction: column;
 width: 1440px;

}

.logementArticle{
    width: 1240px;
    display: flex;
    align-items:center;
    justify-content:space-between;


}
.host{
display: flex;

}

.imgHost{
        width: 64px;
       
    border-radius: 50px 50px 50px 50px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.logementTitre{
    color: #FF6060 ;
    font-size: 36px;

} 
.logementName {

    text-align: right;
width: 93px;
color: #FF6060 ;
font-size: 18px;


}