@import '../../Style/Style.scss';

footer{
    background-color: #000000;
	@include flex-column;
	margin-top: 25px;
	width: 100%;
	 height: 209px;
	 color: white;
	 font-family: $font-familly;
	img {
	 width: 122px;
	 height: 39.44px;
	}
}