
.lmj-banner {
	color: black;
	text-align: right;
	padding: 32px;
	border-bottom: solid 3px black;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	align-items: center;
}

.lmj-title {
	padding-left: 15px;
}

.lmj-logo {
	height: 68px;
	width: 210px;
}

.NavLink{
padding-left: 20px;

}
header{
	display: flex;
	justify-content: center;
} 

.Banniere{
	width: 1240px;
	height: 68px;
	display: flex;
	align-items: center;
	justify-content: space-between; 
	margin-bottom: 25px;

}