@import '../../Style/Style.scss';

header{
	@include flex-center;

	.Banner{
		@include flex-between;
		width: 1240px;
		height: 68px;
		margin-bottom: 25px;

			.Banner__title {
				padding-left: 15px;
				text-decoration: none;
			}
			.Banner__logo {
				width: 210px;
			}
	}
} 